*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

u{
	list-style-type: none;
	padding-left: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #7840DF;
	color: #000;
}

ul li.active a{
	background-color: #7840DF;
	color: #000;
}


.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff
	font-size: 70px;
	border: 1px solid;
	padding: 5px 20px;
}

.instructions p{
	position: absolute;
	top: 20%;
	left 20%;
}

ul a{
	position: relative;
	
}

.left {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
}

.links{
	padding-left: 20px;
}

/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.column {
	width: 200pt;
	padding-top: 100pt;
}

.container title{
	text-align: center;
}
